# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = kailubyte
	email = 162659603+kailubyte@users.noreply.github.com
	signingkey = ~/.ssh/personal_primary.pub
[gpg]
	format = ssh
[gpg "ssh"]
	program = ssh-keygen
[commit]
	gpgsign = true